@model PersonUpdateModel
@{
    ViewData["Title"] = "Delete Successfully";
    var deletedPersonName = ViewBag.DeletedPersonName;
}

<h1 class="display-4 text-center">Person @deletedPersonName was removed from the list successfully</h1>